
.hide{
    display: none;
}
/* line-1 */
.logo1{
    width: 1500px;
    height: 200px;
}
.images{
}

.logo{
    display: flex;
    margin-left: 100px;
}
.text{
    display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: -60px;
   margin-right: 300px;
}
.text-primary1{
    color: orange;
}
.text-primary2{
    color: skyblue;
}
.text-primary3{
    color: #05D4DF;
}
.text-primary4{
    color: #5D58EF;
}
.btn{
    text-align: right;
    margin-right: 400px;
    margin-top: -40px;
}
.contact{
    color: white;
    background-color: orange;
    border-radius: 8px;
    width: 120px;
    height: 40px;
}
/* line-2 */
.hero{
    display: flex;
    padding: 100px;
    margin-top: -50px;
    gap: 150px;
}
.king{
    /* width:468px ;
    height:575px ; */
    margin-top: -180px;
}
.font{
    font-size: 40px;
}
.btn1{
    color: white;
    background-color: black;
    border-radius: 8px;
    width: 130px;
    height: 30px;
}

/* line-3 */

.standard{
    background-image: url(../assets/bg.png);
    width: 1200px;
    height: 890px;
}
.Curriculum{
    text-align: center;
    font-size: 25px;
   margin-top: 50px;
}
.skills-container{
    display: flex;
    gap: 25px;
    padding: 100px;
   
}
.skill-1{
    height: 450px;
     box-shadow: 0px 6px 35px 0px; 
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #DEF5FF, white);
}
.skill-2{
    height: 450px;
    box-shadow: 0px 6px 35px 0px;
    border-radius: 16px;
    background-image: linear-gradient(#FFF4DC,#FFFF);
}
.skill-3{
    height: 450px;
    box-shadow: 0px 6px 35px 0px;
    border-radius: 16px;
    background-image: linear-gradient(#F2E8FF,#FFFF);
}
.skills-1{
    margin-left: 80px;
   margin-top: 40px;
}
.skills-2{
    text-align: center;
    font-size: 23px;
    margin-top: 40px;
}

.skills-3{
    text-align: center;
    font-size: 16px;
   margin-top: 40px;
}
.skills-4{
    text-align: center;
    font-size: 18px;
   margin-top: 40px;
}
/* line-4 */
.arrow{
  justify-content: center;
    display: flex;
    gap: 40px;
    margin-right: 300px;
    margin-top: -180px;
}
.arrow1{
    background-color: orange;
    border-radius: 30px;

}
/* line-5 */
.our-storics{
    background-image: url(../assets/bg.png);
}

.stories{
    background-image: linear-gradient(to top,#FFD68D,white);
    display: flex;
    gap: 30px;
}
.icon{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    background-color: whitesmoke;
}
.icon-1{
    box-shadow: 0px 6px 35px 0px; 
    border-radius: 16px;
    background-color: whitesmoke;
}
.icon-2{
    box-shadow: 0px 6px 35px 0px; 
    border-radius: 16px; 
}





@media screen and (max-width:576px) {
    .hero{
    flex-direction: column-reverse;
    justify-content: center;
    padding: 50px;
    }
    .king{
       margin-top: 50px;
    }
    .king1{
        width: 290px;
        height: 370px;
    }
    .font{
        margin-top: -50px;
        text-align: center;
        font-size: 35px;
    }
    .font1{
        text-align: center;
        font-size: 12px;
    }
    .btn1{
        text-align: center;
        width: 115px;
        height: 40px;
    }
    .btn2{
        text-align: center;
    }
    
    .standard{
         background-image: url(../assets/bg.png);
         width: 357px;
         height: 990px;
    } 
    .skills-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        padding:40px;
       
    }
    .Curriculum{
        text-align: center;
        font-size: 17px;
       margin-top: -50px;
    }
    
    .skill-1{
        height: 450px;
     box-shadow: 0px 6px 35px 0px; 
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #DEF5FF, white);
    }
    .skill-2{
        height: 450px;
    box-shadow: 0px 6px 35px 0px;
    border-radius: 16px;
    background-image: linear-gradient(#FFF4DC,#FFFF);
    }
    .skill-3{
        height: 450px;
    box-shadow: 0px 6px 35px 0px;
    border-radius: 16px;
    background-image: linear-gradient(#F2E8FF,#FFFF);
    }
    .skills-2{
    text-align: center;
    font-size: 23px;
    margin-top: 40px;
    }

    .skills-3{
    text-align: center;
    font-size: 16px;
   margin-top: 40px;
    }
    .skills-4{
    text-align: center;
    font-size: 18px;
   margin-top: 40px;
    }




}